footer {
  width: 100%;
  background-color:  rgb(26, 26, 26);
}

.footerBottom {
  background-color: black;
  overflow: hidden;
}

.footerBottom p {
  color: rgb(136, 136, 136);
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.footerBottom img {
  display: block;
  height: 67px;
  margin: 15px auto;
  border-radius: 50%; /* 將圖片裁剪為圓形 */
  object-fit: cover; /* 確保圖片內容適應圓形 */
}

.footerBottom .copyright {
  color: white;
  margin-bottom: 30px;
}