body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/achievement/bg.png");
    margin: 0;
  }
  
  .achievements-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .models {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .model-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .model-card:hover {
    transform: scale(1.05);
  }
  
  .model-avatar {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
  }
  
  .model-name {
    font-size: 1.2em;
    margin: 10px 0;
    color: #444;
  }
  
  .badge {
    width: 100px;
    height: 100px;
  }