#aiPanelContainer {
	position: absolute;
	top: 10%; /* 根據需要調整 */
	left: 70%;
	transform: translateX(-50%);
	background: rgba(240, 240, 240, 0.9); /* 半透明背景 */
	border: 2px solid #ddd;
	padding: 10px;
	width: 80vh;
	z-index: 2;
	display: none; /* 默認隱藏 */
}

#webcam {
    width: 70%; /* 設置為容器的 70% 寬度 */
    aspect-ratio: 4 / 3; /* 設定 4:3 比例 */
    background: #000;
}

#aiStatus {
    font-size: 150%;
}

#recognition-controls {
	display: flex;
	gap: 5px;
	margin-top: 10px;
}
