#aiPanelContainer {
	position: absolute;
	top: 5%; /* 根據需要調整 */
	left: 70%;
	transform: translateX(-50%);
	background: rgba(240, 240, 240, 0.9); /* 半透明背景 */
	border: 2px solid #ddd;
	padding: 10px;
	width: 80vh;
	z-index: 2;
	display: none; /* 默認隱藏 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#webcam {
	width: 75%; /* 設置為容器的 70% 寬度 */
	aspect-ratio: 4 / 3; /* 設定 4:3 比例 */
	background: #000;
}

#aiStatus {
	font-size: 150%;
	text-align: center;
	margin-top: 10px;
}

#recognition-panel {
	display: flex;
	flex-wrap: wrap; /* 適應不同螢幕大小 */
	gap: 20px;
	align-items: flex-start;
}

#dataCollector-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
}

#addCollector-container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

#addInput {
	flex: 1;
	padding: 5px;
	font-size: 16px;
}

#addButton {
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
}

#recognition-controls {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

#recognition-controls button {
	flex: 1;
	max-width: 150px;
}