.control-buttons {
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: none;
	flex-direction: column;
	align-items: center;
}

.up {
	margin-bottom: 10px;
}

.left-right-btns {
	justify-content: center;
	align-items: center;
}

.left,
.down,
.right {
	margin: 5px;
}

.control-btn {
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	border: 1px solid #000;
	background-color: #ddd;
	border-radius: 10px;
	cursor: pointer;
}

.control-btn:active {
	background-color: #bbb;
}

#circleButton {
    position: fixed;
    bottom: 8%; /* 距離底部 20px */
    right: 2%; /* 距離右側 20px */
    width: 60px; /* 按鈕直徑 */
    height: 60px;
    background-color: #df5539; /* 按鈕顏色 */
    border-radius: 50%; /* 讓按鈕變成圓形 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按鈕陰影 */
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 保持在畫面頂層 */
}

#circleButton:active {
    background-color: #f14623; /* 按下時改變顏色 */
}
